/TP2/nbproject/private/
/TP2/build/
/TP3/nbproject/private/
/TP3/build/
/tp4/nbproject/private/
/tp4/build/
/TP5/nbproject/private/
/TP5/build/
/TP5/dist/
/TP6/nbproject/private/
/TP6/build/
/TP7/nbproject/private/
/TP7/build/
